@import 'node_modules/@fluentui/react/dist/sass/References';
@import "pages/index";
@import "components/index";

body {

  background: $ms-color-gray40;


  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

.content {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 0;
  height: 88%;
  margin: 0;
}

h2, p, h1, h3, h4, h5, h6 {
  font-family: 'Segoe UI';
}



